/* client/src/styles/App.css */
:root {
  --dark-bg: #373737; /* Or whatever dark color your teacher's question box uses */
  --card-bg: #f2f2f2; /* Or whatever light color for text */
  --dark-bg: #373737;
  --card-bg: #f2f2f2;
  --purple-light: #7765DA;
  --blue: #5767D0;
  --purple-dark: #4F0DCE;
  --gray: #8E8E8E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-bg);
  color: white;
}